<% content_for :title, "When" %>
<h1>When did this happen?</h1>
<%= form_with scope: :complaints, local: true do |form| %>
  <p>
    <%= form.label :when %><br>
    <%= form.date_field :when, id: '#datepicker' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

