<% content_for :title, "Where" %>
<h1>Where are you complaining about?</h1>
</br>
<%= form_for :complaints do |f| %>
    Company Address:</br> <%= f.text_field :address %></br>
<p></p>
<%= f.submit %>
<p></p>
<% end %>   

  <div id = "map", style='width: 800px; height: 400px;'>
  </div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
})
</script>
