<% content_for :title, "Where" %>
<h1>Where are you complaining about?</h1>
</br>
<%= form_for :complaints do |f| %>
    Company Address:</br> <%= f.text_field :address %></br>
<p></p>
<%= f.submit %>
<p></p>
<% end %>   

  <canvas id = "map-canvas" class = "canvas">
  </canvas>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>