 <%= @complaint_slug %>
<% content_for :title, "Who" %>
<h1>Who are you complaining about?</h1>
  <p> choose the correct letters of the company you are complaining about</p>
   <form>
    <select name = "Company_name_1">
      <option value = "0">Choose the first character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option> 
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>  
      <option value = "9">9</option>      
    </select>
       <select name = "Company_name_2">
      <option value = "0">Choose the second character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option> 
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>  
      <option value = "9">9</option>      
    </select>
       <select name = "Company_name_3">
      <option value = "0">Choose the third character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option> 
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>  
      <option value = "9">9</option>      
    </select>
  </form>
<%= link_to "Next Page", where_path %>