
<% content_for :title, "Who" %>
<h1>Who are you complaining about?</h1>
  </br>
  <p> choose the correct letters of the company you are complaining about</p>
  </br>
   <%= form_tag who_path(@complaint_slug) do %>
    <select name = "Company_name_1">
      <option value = "0">Choose the first character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option>
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
    </select>
       <select name = "Company_name_2">
      <option value = "0">Choose the second character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option>
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
    </select>
       <select name = "Company_name_3">
      <option value = "0">Choose the third character</option>
      <option value = "a">a</option>
      <option value = "b">b</option>
      <option value = "c">c</option>
      <option value = "d">d</option>
      <option value = "e">e</option>
      <option value = "f">f</option>
      <option value = "g">g</option>
      <option value = "h">h</option>
      <option value = "i">i</option>
      <option value = "j">j</option>
      <option value = "k">k</option>
      <option value = "l">l</option>
      <option value = "m">m</option>
      <option value = "n">n</option>
      <option value = "o">o</option>
      <option value = "p">p</option>
      <option value = "q">q</option>
      <option value = "r">r</option>
      <option value = "s">s</option>
      <option value = "t">t</option>
      <option value = "u">u</option>
      <option value = "v">v</option>
      <option value = "w">w</option>
      <option value = "x">x</option>
      <option value = "y">y</option>
      <option value = "z">z</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
    </select>
    <input type="submit"/>
  <% end %>
<% if flash[:possible] %>
  <div id= "completed" >
  <select>
    <option>Please select from the short list</option>
      <% flash[:possible].each do |poss| %>
        <option><%= poss %></option>
      <% end %>
  </select>

  </div>
<% end %>

<div id="message">To continue<span id="ambient"> go into a dark room and</span> shake your phone for a few seconds to confirm you are a real person</div>
</br>
<button id="link" data-path="<%= where_path%>">Next Page</button>

<script>
$(function () {
  window.didShake = 0;

  var myShakeEvent = new Shake({
    threshold: 15, // optional shake strength threshold
    timeout: 1000 // optional, determines the frequency of event generation
  });

  myShakeEvent.start();

  window.addEventListener('shake', function () {
    window.didShake++;
    if (window.didShake === 2) {
      $('#message').text('thank you for confirming as a human...')
    }
  }, false);

  <%# if('ondevicelight' in window) {
    window.addEventListener("devicelight", function(event) {
        window.darkLevel = event.value;
    });

    window.darkCount = 0;

    var intID = setInterval(function () {
      document.getElementById('test').innerHTML = darkLevel + ' ' + window.darkCount;
      if (darkLevel < 10) {
        window.darkCount++;

        if (window.darkCount >= 3) {
          clearInterval(intID);
          window.isDark = true;
        } else {
          window.darkCount++;
        }
      } else {
        window.darkCount = 0;
      }
    }, 1000);
  } else {
    window.isDark = true;
    $('#ambient').hide();
  } %>


  $('#link').on('click', function(event) {
    if ($('#completed').length) {
      if (window.didShake) {
        navigator.vibrate(100,100,200,300,500,800,1300);

        setTimeout(function () {
          window.location.href = $('#link').data('path');
        }, 3300)
      }
    } else {
      alert('please complete the form first, before proceeding...');
    }
  });

  if (!$('#completed').length) {
    $('#message').hide();
  }
});
</script>
